<?xml version="1.0" encoding="UTF-8"?>
<root>
	<ip>192.168.10.104</ip>
	<logCount>1</logCount>

	<process>
		<group name="qqduan.test.process.TestProcess" skip="true" logType="all"></group> 
		<group name="qqduan.test.process.ProcessDetectFace" skip="false" logType="all"></group> 
	</process>

</root>